{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>print</title>
</head>
<style>
    @media print{
        @page{
            size: 70mm 70mm;
            }
        }

    div {
        padding: 20px;
        margin: 20px;
        }
</style>
<body>
    <div>
        <h4> Код: {{ code }}<br>
            Отправитель: {{ sender.info }}<br>
            Тел: {{ sender.phone }}<br>
            Адрес: {{ sender_place }}<br>
            Получатель: {{ recipient.info }}<br>
            Тел: {{ recipient.phone }}<br>
            Адрес: {{ recipient.phone }}<br>
            От куда: {{ from }}<br>
            Куда: {{ to }}
            Габариты груза: {{ dimension }}<br>
            длина: {{ dimension.length }} ширина: {{ dimension.width }}<br>
            высота: {{ dimension.height }} вес: {{ dimension.weight }}<br>
            Статус платежа: {{ pay_status }}
        </h4>
    </div>
    <script>
        window.print()
    </script>
</body>
</html>