{% extends "admin/base_site.html" %}
 
{% load static %}
{% load i18n %}
 
<!-- custom filter module -->
{% load i18n_switcher %}

{% block extrahead %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_admin.css' %}"/>
{% endblock %}
 
{% block userlinks %}
    <a href="{{ request|switch_i18n:'ru' }}">
        <img class="i18n_flag" height="10px" width="17px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Russia.svg/200px-Flag_of_Russia.svg.png"/>
    </a> /
    <a href="{{ request|switch_i18n:'zh-hans' }}">
        <img class="i18n_flag" height="10px" width="17px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Flag_of_China_%28alternate%29.svg/250px-Flag_of_China_%28alternate%29.svg.png"/>
    </a>
    /
    {% if user.is_active and user.is_staff %}
        {% url 'django-admindocs-docroot' as docsroot %}
        {% if docsroot %}
            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
        {% endif %}
    {% endif %}
    {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    {% endif %}
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}