{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block field_sets %}
{% for fieldset in adminform %}
{% include "admin/delivery_fieldset.html" %}
{% endfor %}
<div class="inline-group">
    <div class="inline-related">
        <div class="search-box">
            <label for="id_search_term">{% translate 'Поиск : ' %}</label>
            <input type="text" id="id_search_term" name="search_term">
            <button type="button" id="id_search_btn">{% translate 'Поиск' %}</button>
        </div>
        <br>
        <table width="100%" class="inline {{ inline_admin_formset.opts.model_name }}-inline"
               id="{{ inline_admin_formset.formset.prefix }}-group">
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function disableOptions() {
      let selects = document.querySelectorAll('select')
      selects.forEach(function (select) {
        let index = select.selectedIndex;
        Array.from(select.options).forEach(function (opt, i) {
          if (i < index) {
            opt.disabled = true;
          }
        });
      });
    }
    $(function() {
      $('#id_search_btn').click(function() {
        var search_term = $('#id_search_term').val();
        var url = '{% url "delivery_view" %}?flight={{object_id}}&q=' + search_term;
        $.ajax({
          url: url,
          success: function(data) {
            $('#{{ inline_admin_formset.formset.prefix }}-group tbody').html(data);
            disableOptions();
          }
        });
      });
    });
    $(function() {
      $('#id_search_btn').ready(function() {
        var search_term = $('#id_search_term').val();
        var url = '{% url "delivery_view" %}?flight={{object_id}}&q=' + search_term;
        $.ajax({
          url: url,
          success: function(data) {
            $('#{{ inline_admin_formset.formset.prefix }}-group tbody').html(data);
              disableOptions();
          }
        });
      });
    });

</script>
{% endblock %}

{% block admin_change_form_document_ready %}
{{ block.super }}
<script src="{% static 'flight/delivery.js' %}"></script>
{% endblock %}
